<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title></title>
        </head>
        <body>
        	<h2>First Hash</h2>
        	<p><%= @first %></p>

        	<h2>Second Hash</h2>
        	<p><%= @second %></p>
        </body>
    </html>